server {
    server_name    {{ item.vars.server_name | mandatory }};

    listen         80;
    listen         [::]:80;

    # Uncomment once HTTPS is setup
    return         301 https://$server_name$request_uri;
}

server {
    server_name    {{ item.vars.server_name | mandatory }};

    listen 443 ssl;
    listen [::]:443 ssl;
    ssl_session_timeout 5m;
    http2 on;

    ssl_certificate           {{ item.vars.ssl_certificate | mandatory }};
    ssl_certificate_key       {{ item.vars.ssl_certificate_key | mandatory }};

	# Add TLSv1.3 if it's supported by your system
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'EECDH+aRSA+AESGCM:EECDH+aRSA+SHA384:EECDH+aRSA+SHA256:EECDH:+CAMELLIA256:+AES256:+CAMELLIA128:+AES128:+SSLv3:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!DSS:!RC4:!SEED:!ECDSA';
    ssl_prefer_server_ciphers on;
    ssl_ecdh_curve prime256v1;
    # ssl_ecdh_curve X25519:prime256v1:secp384r1:secp521r1;
    ssl_stapling on;
    ssl_stapling_verify on;
    add_header Strict-Transport-Security "max-age=31536000";

	gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript application/activity+json application/atom+xml;

    # the nginx default is 1m, not enough for large media uploads
    client_max_body_size 16m;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    location / {
		expires off;
        add_header Cache-Control "public, max-age=0, s-maxage=0, must-revalidate" always;
		proxy_pass http://{{ item.vars.proxy_pass | mandatory }}:4000;
    }

	location ~ ^/(assets|img) {
        access_log off;
        add_header Cache-Control "public, max-age=31536000, s-maxage=31536000, immutable";
		proxy_pass http://{{ item.vars.proxy_pass | mandatory }}:4000;
    }

    location ~ ^/(media|proxy) {
        access_log off;
        add_header Cache-Control "public, max-age=31536000, s-maxage=31536000, immutable";
        proxy_pass http://{{ item.vars.proxy_pass | mandatory }}:4000;
    }
}
